<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jesse Tuglu | Education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="navbar_header"><a class="navbar_header" href="index.html">Jesse Tu&gbreve;lu</a></div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li>
                                <a href="contact.html">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a href="experience.html">
                                    Experience
                                </a>
                            </li>
                            <li>
                                <a href="projects.html">
                                    Projects
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="contact">
        <h1>Contact</h1>
        <ul class="contact-list">
            <li>
                <div class="contact-item">
                    <a class='contact-link' href='https://github.com/jessetuglu'>
                        Github
                    </a>
                </div>
            </li>
            <li>
                <div class="contact-item">
                    <a class='contact-link' href='https://linkedin.com/in/jessetuglu'>
                        Linkedin
                    </a>
                </div>
            </li>
            <li>
                <div class="contact-item">
                    <a class='contact-link' href='mailto:jktuglu@gmail.com'>
                        Email
                    </a>
                </div>
            </li>
        </ul>
    </section>
</div>
</body>
</html>

